.table-container {
  padding: 1rem 10rem;
  text-align: left;
}

table {
  th, td {
    padding: 0.5rem;

    &:nth-child(5) {
      span {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
