.table-container {
  padding: 1rem 10rem;
  text-align: left;
}

table {
  th, td {
    padding: 0.5rem;

    &:nth-child(5) {
      align-items: center;
      display: flex;
      justify-content: space-between;

      span {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      div {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
  }
}
