table, th, td {
  // border: 1px solid;
  text-align: left;
}

table {
  margin: auto;
  width: 80%;

  th, td {
    &:nth-child(5) {
      align-items: center;
      display: flex;
      justify-content: space-between;

      div {
        &:first-child {
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:last-child {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  th {

  }

  td {

  }
}
